body{
  background-color: black;
}
.cards{
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 4px 4px #fff;
  padding: 20px 60px 20px;
  margin: 20px;
  justify-content: center;
  align-items: center;

}
.cards > h2{
  font-size: 32px;
  color: #fff;
  text-align: center;
}
.cards > img{
  width: 190px;
  border-radius: 10px;
}
